{% extends "bot_app/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Reagendamento
{% endblock %}

{% block body %}
    <h1>Modificar meu agendamento</h1>
    <form id="main-form" class="mt-4 ml-3" action="{% url 'reschedule' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="text" name="customer-id" value="{{ customer_id }}" hidden>
        <input class="btn btn-primary" type="submit"  value="Enviar">
    </form>
{% endblock %}
