* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

html {
    font-size: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr minmax(50%, 90%) 1fr;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.grid-item {
    grid-column-start: 2;
    margin-top: 1rem;
}

/* form > input[type=text], input[type=number], input[type=email] {
    width: 90vw;
}

.select {
    width: 90vw;
} */

.navbar {
    background-color: #00bae3;
}

/* .textarea {
    background-color: red;
}

@media (min-width: 768px) {
    form > input {
        max-width: 60vw;
    }

    .select, .textarea {
        max-width: 60vw;
    }
} */
